:root{
--yellow: #ffde22;
--white: #FFFFFF;
--aqua:#7FDBFF;
--orange: #ff8928;
--navy: #001f3f;
--bright-green: rgb(44, 222, 44);
--dirty-green-color: #596D48;
--mobile-logo: 3rem;
--main: calc(100vh - calc(var(--mobile-logo)));
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    color: var(--navy);
    background-color: var(--yellow);
    line-height: calc(1.4em + 0.5vw);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(16px + 1vw);

    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

input{
    appearance: none;
    height: 50px;
}

input, button{
    display: block;
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    padding: 5px;
    
}

.yellow-text{
    color: var(--yellow);
    font-weight: bold;
}

.orange-text{
    color: var(--orange);
    font-weight: bold;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
}

#mobile-logo{
    height: (--mobile-logo);
    text-align: center;
    width: 100%;
}


.mobile-backgroundImg{
    position: relative;
}

.mobile-backgroundImg img{
    object-position: 0% 36%;

}

.mobile-textOverImg{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 230px;

    height: 100px;
    width: 100%;
}


.mobile-textOverImg h1{
    color: white;
    font-size: clamp(4rem, 50%, 20rem);
    line-height:1.5em;
    vertical-align: middle;
}

#form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--main);
}

header > h3, header > p{
    margin-bottom: 40px;
}


.intro-form-header p{
    font-weight: bold;
    font-size: clamp(1.6rem, 50%, 20rem);
}

form{
    display: flex;
    flex-direction: column;
}

fieldset{
    position: relative;
    margin-bottom: 50px;
    border: none;
    box-shadow: 0px 0px 30px rgba(4, 4, 4, 0.4);
}

fieldset h3{
    margin: 20px 0;
    font-size: clamp(1.6rem, 50%, 20rem);
}

.form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row label{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form-row input[type="text"]{
    width: 100%;
    border: 1px solid #333;
}

.form-row input[type="text"]:focus, input[type="email"]:focus{
    border: 2px solid blue;
    box-shadow: 2px 20px 50px rgba(141, 159, 25, 0.4);
}

.form-row input[type="text"]:valid, .form-row input[type="email"]:valid{
    border: 3px solid var(--bright-green);
}

.form-row input[type="text"]:invalid, .form-row input[type="email"]:invalid{
    border: 3px solid red;
}

.error:invalid{
    border: 3px solid red;
}

.error:valid{
    border: 3px solid var(--bright-green);
}

form button{
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: clamp(2rem, 50%, 20rem);
    align-self: center;
    padding: 30px 40px;
    color: var(--navy);
    background-color: var(--orange);
    margin-bottom: 20px;
    cursor: pointer;
}

form button:hover{
    background-color: var(--dirty-green-color);
}

form button:active{
    background-color: darkgoldenrod;
}

form .haveAccount{
    align-self: center;
    font-size: clamp(2rem, 50%, 20rem);
}

form .haveAccount a{
    color: orange;
}

form .haveAccount a:active{
    color: var(--dirty-green-color);
}

.notMatchPassword{
    background-color: black;
    color: white;
    width: 50%;
}
